@import 'bourbon';
@import 'base/base';
@import 'neat';

@import 'refills/navigation';
@import 'refills/flashes';
@import 'refills/tables-minimal';

.container {
  margin-top: 1em;
  @include outer-container;
}

.sidebar {
  @include span-columns(3);
}

.content {
  @include span-columns(9);
  @include omega();
}

.sign-up {
  margin-right: 1em;
}

.username {
  color: #999;
  line-height: 60px;
  margin-right: 1em;
}

/*
 *= require_tree .
 *= require_self
 */
